/* * {
    background-color: aqua;
    color: white;
    outline: 1px solid white;
} */

* {
    font-family: 'Open Sans', sans-serif;
}

header {
    color: white;
    background-color: black;
}

header > div {
    width: 100%;
    padding: 1rem;
}

header > div > h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

header > div > p {
    font-size: 1rem;
}

nav {
    background-color: #512894;
    position: sticky;
    top: 0;
}

nav > div {
    width: 100%;
    flex-direction: column;
}

nav > div > a {
    text-align: center;
    color: white;
    padding: 1rem;
    background-color: #512894;
}

nav > div > a:active {
    background-color: #EBC323;
    color: black;
    transition: 250ms;
}

@media(hover: hover) {
    nav > div > a:hover {
        background-color: #EBC323;
        color: black;
        transition: 250ms;
    }
}

nav > button {
    background-color: rgb(52, 0, 110);
    width: 100%;
    padding: 1rem;
    color: white;
    display: block;
    text-align: center;
}

nav > button:active {
    background-color: #a0851a;
    color: black;
    transition: 250ms;
}

@media(hover: hover) {
    nav > button:hover {
        background-color: #a0851a;
        color: black;
        transition: 250ms;
    }
}

.dropdown-content {
    display: none;
}

.show{
    display: flex;
    position: absolute;
}

#welcome {
    background-color: gray;
    color: white;
}

#welcome > div {
    width: 100%;
    padding: 0 1rem;
}

#welcome > div > hr {
    border-top: 1px solid;
}

#welcome > div > h2 {
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 600;;
}

#welcome > div > p {
    padding: 1rem 0;
}

@media (min-width: 1000px) {
    header > div {
        max-width: 1000px;
        margin: auto;
    }

    .dropdown-content {
        display: flex;
        position: static;
    }

    nav > div {
        flex-direction: row;
        width: 1000px;
        margin: auto;
    }

    nav > button {
        display: none;
    }

    #welcome > div {
        max-width: 1000px;
        margin: auto;
    }
}